// out: main.css, compress: true

@import "libs/weui.less";
@import "libs/global.less";
@import "libs/components.less";
@import "libs/comm.less";

@image-size: 80px;
@post-font-size: 18px;
@post-line-height: 28px;

.gno-cell-list{
  .list-item{
    padding: 10px 20px;
  }
  .updated-at{

  }
  .title{

  }
}

.gno-cell-view{
  padding: 20px;
  margin: 0 auto;
	line-height: @post-line-height;
  .header{

  }

  .content{
    img{
      width: 100%;
      display: block;
    }
  }

  .tags{
    margin-top: 20px;
    span.el-tag+span.el-tag{
      margin-left: 10px;
    }
  }

  .header{
    h1{
      font-size:  @post-font-size * 1.4;
      margin-bottom: 20px;
    }
  }

  .subforms{
    thead{
      th{
        text-align: center;
      }
    }
    tbody{
      th{
        text-align: right;
      }
      td{
        padding-right: 20px;
      }
    }
    td, th{
      padding: 5px 10px;
    }
  }
  .content{
    font-size: @post-font-size;
    img{
      margin: 5px auto;
    }

    h1{
      font-size: @post-font-size * 1.4;
      margin: 10px 0;
    }
    h2{
      font-size: @post-font-size * 1.2;
      margin: 10px 0;
    }
    h3, h4, h5{
      font-size: @post-font-size;
      margin: 5px 0;
    }
    h6{
      font-size: @post-font-size * 0.9;
    }
    h1,h2,h3,h4,h5,h6{

    }
    p{
      margin: 5px 0;
    }

  } // content
  .gno-ref-links{
    list-style-position: inside;
  }
}

// 编辑组件
.gno-notepad{
  .gno-dtypes{
    text-align: center;
    .el-radio-button__inner{
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .gno-top-form{
    .gno-avatar{
      width: @image-size;
      height: @image-size;
      display: block;
      object-fit: cover;
    }

    .gno-avatar-success div.el-upload{
      border-style: solid;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner, .el-select{
      width:220px;
    }
    .el-form-item--mini{
      margin-bottom:@spacer /2;
    }
  }
  .gno-textarea{
    .gno-title input.el-input__inner{
      border-radius: 0;
      border-bottom: none;
    }
    textarea{
      border: none;
      padding: 5px 10px;
    }
  }

  .el-date-editor.gno-date-picker > input{
    border:none;
  }

  .gno-sub-form{
    .el-divider--horizontal{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .gno-form-card{
      margin-bottom: @spacer/2;
    }

    .gno-card-header{
      background-color: #F5F7FA;
      border: 1px solid @border-color;
      padding: 5px;
      display: flex;

      .el-input__inner{
        background-color: transparent;
        border: none;
      }
      .el-date-editor.el-input{
        width: 215px;
      }
      .gno-btn-close {
        float: right;
        padding: 3px 0;
        padding-left: 10px;
        margin-top: 2px;
      }
    }

    .el-input-group__prepend, .el-input__inner{
      border-radius: 0;
    }

    .el-autocomplete input{
      border-right: none;
    }

  }

  .gno-upload{
    .el-upload-list--picture-card .el-upload-list__item{
      width: @image-size;
      height: @image-size;
      img{
        object-fit: cover;
      }
    }

    .el-upload--picture-card{
      width: @image-size;
      height: @image-size;
      line-height: 90px;
    }

    div.el-upload{
      margin-bottom: 14px;
    }

    .el-upload-list--picture-card .el-upload-list__item-actions .el-upload-list__item-delete{
      position: absolute;
      right: 5px;
      top: 0;
    }

    .el-upload-list__item-preview{
      color: #FFF;
      font-style: normal;
      font-weight: 400;
      padding: 0 10px;
      position: absolute;
      left: 0;
      bottom: 3px;
      margin-left: 0!important;
      i{
        font-size: 24px;
      }
    }
  }

  // tags
  .gno-tags{
    .el-tag {
      margin-right: 5px;
      margin-top: 5px;
    }

    .el-divider{
      margin-bottom: 18px;
    }

    .button-new-tag {
      margin-top: 5px;
      height: 32px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }

  }
}
