// out: main.css, compress: true

@import "libs/global.less";
@import "libs/comm.less";
@import "libs/components.less";
@import "libs/weui.less";

body,html{
}

.gno-notepad{
  .el-date-editor > input{
    border:none;
  }

  .el-tag + .el-tag {
    margin-left: 10px;
  }

  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
}
